@import url('https://fonts.googleapis.com/css2?family=Acme&family=Alegreya+Sans+SC:ital,wght@1,800&family=Archivo+Black&family=Bricolage+Grotesque&display=swap');


*{
  margin: 0px;
  padding: 0px;
  font-family: 'Acme', sans-serif;
}

.head h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
}